body{
  padding: 20px;
}
/* .form{
  display: flex;
} */
.form_input {
  border: 1px solid #dbdbdb;
  outline: none;
  padding: 6px 10px;
  border-radius: 6px;
  margin: 5px;
}

.form_btn{
  border: none;
  outline: none;
  background-color: #1677ff;
  color: #fff;
  border-radius: 6px;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}

.error_text{
  color: red;
  font-size: 13px;
  margin: auto;
  margin-left: 8px;
  margin-bottom: 10px;
}